{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container mx-auto grow">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" style="background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')"></div>
                <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Change Password!</h3>
                    
                    <form action="" method="post" class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
                        {% csrf_token %}
                        <!--Errors are shown here.-->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{error}} <br>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                            Old Password
                            </label>
                            <input class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="p1" type="password" name="old_password" placeholder="Old Password" />
                        </div>
                        <div class="mb-4">
                            <div class="">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                    New Password
                                </label>
                                <input placeholder="New Password" name="new_password1" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="p2" type="password"/>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                    Confirm New Password
                                </label>
                                <input placeholder="Confirm Password" name="new_password2" class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="p3" type="password"/>
                            </div>
                        </div>
                        <div class="mb-6 text-center">
                            <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit">
                            Change Password
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}