{% load static %}
<!DOCTYPE html>

<html lang="en" class="h-full w-full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script defer src="{% static 'js/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'dist/output.css' %}">
        {% block css %}
        {% endblock css %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    {% block root %}
    {% endblock root %}
    <body class="font-mono bg-neutral-800 flex flex-col h-full">
        <nav class="flex items-center justify-between flex-wrap p-3 mt-0 w-full z-10 top-0 md:bg-neutral-800 bg-neutral-900 sticky">
            <div class="flex items-center flex-shrink-0 text-white mr-4">
                <div class="h-8 w-14 mr-2">
                    <a href="{% url 'home:index' %}">
                        <svg version="1.1"  id="Layer_1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 150 150">
                            <g>
                                <path fill="rgb(248 113 113)" d="M40.06,0.37c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1 C23.04,12.06,30.66,0.37,40.06,0.37L40.06,0.37z M61.71,63.55c19.94,0.04,22.42,13.25,39.23,35.86 c8.38,16.45-2.5,26.82-21.15,22.38c-8.46-4.31-14.41-5.83-20.38-5.63c-10.34,0.36-12.95,7.18-24.98,6.7 c-9.28-0.25-13.46-4.14-14.27-10.07c-0.87-6.3,1.56-10.28,4.52-15.49C36.18,77.02,48.07,61.01,61.71,63.55L61.71,63.55L61.71,63.55 z M7.17,39.08C0.14,41.86-2.1,52.85,2.16,63.62C6.42,74.39,15.57,80.87,22.6,78.09c7.03-2.78,9.27-13.77,5.01-24.54 C23.35,42.78,14.2,36.3,7.17,39.08L7.17,39.08z M112.55,39.08c7.03,2.78,9.27,13.77,5.01,24.54 c-4.26,10.77-13.42,17.25-20.44,14.47c-7.03-2.78-9.27-13.77-5.01-24.54C96.37,42.78,105.52,36.3,112.55,39.08L112.55,39.08z M79.35,0c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1C62.33,11.69,69.95,0,79.35,0L79.35,0 z"/>
                            </g>
                        </svg>
                    </a>
                </div>
            <span class="font-semibold text-xl tracking-tight">Paws for a Cause</span>
            </div>
            <div class="block lg:hidden">
                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-red-200 border-red-400 hover:text-white hover:border-white">
                    <svg class="fill-current h-4 w-4" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </button>
            </div>
            <div id="menu" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-lg lg:flex-grow h-[100%]">
                    <a href="{% url 'home:donate' %}" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4" >Donate</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'home:dashboard' %}" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4" >{{request.user.email}}</a>
                    <a href="{% url 'home:logout' %}" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4" >Logout</a>
                    {% else %}
                    <a href="{% url 'home:signup' %}" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4" >Join as an NGO</a>
                    <a href="{% url 'home:login' %}" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white" >Login</a>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'home:upload' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-400 hover:bg-white mt-4 lg:mt-0">Upload</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <footer class="text-gray-600 body-font bottom-0 clear-both bg-neutral-800 fixed sm:relative w-full">
            <div class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <div class="h-8 w-14">
                        <a href="{% url 'home:index' %}">
                            <svg version="1.1"  id="Layer_1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 150 150">
                                <g>
                                    <path fill="rgb(248 113 113)" d="M40.06,0.37c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1 C23.04,12.06,30.66,0.37,40.06,0.37L40.06,0.37z M61.71,63.55c19.94,0.04,22.42,13.25,39.23,35.86 c8.38,16.45-2.5,26.82-21.15,22.38c-8.46-4.31-14.41-5.83-20.38-5.63c-10.34,0.36-12.95,7.18-24.98,6.7 c-9.28-0.25-13.46-4.14-14.27-10.07c-0.87-6.3,1.56-10.28,4.52-15.49C36.18,77.02,48.07,61.01,61.71,63.55L61.71,63.55L61.71,63.55 z M7.17,39.08C0.14,41.86-2.1,52.85,2.16,63.62C6.42,74.39,15.57,80.87,22.6,78.09c7.03-2.78,9.27-13.77,5.01-24.54 C23.35,42.78,14.2,36.3,7.17,39.08L7.17,39.08z M112.55,39.08c7.03,2.78,9.27,13.77,5.01,24.54 c-4.26,10.77-13.42,17.25-20.44,14.47c-7.03-2.78-9.27-13.77-5.01-24.54C96.37,42.78,105.52,36.3,112.55,39.08L112.55,39.08z M79.35,0c9.4,0,17.03,11.69,17.03,26.1s-7.63,26.1-17.03,26.1c-9.4,0-17.03-11.68-17.03-26.1C62.33,11.69,69.95,0,79.35,0L79.35,0 z"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <span class="font-semibold text-xl text-white tracking-tight">Paws for a Cause</span>
                </a>
                <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                    © 2023 Paws for a Cause
                </p>
            </div>
        </footer>
    </body>
    {% block scripts %}
    {% endblock scripts %}
</html>