<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
</head>
<style>
    html{
        height:90%;
        text-align:center;
        color:white;
    }
    body{
        background-color: #202124;
        height:100%;
    }
    div#data{
        font-size: 25px;
    }

</style>
<body>
    <div id="heading">
        <h1>Injured animal found near you ! </h1>
    </div>
    <div id="data">
        Address: {{animal.address}} <br>
        Latitude: {{animal.latitude}} &nbsp;&nbsp;&nbsp;&nbsp;
        Longitude: {{animal.longitude}} <br>
        <img src="" alt="">
    </div>
    <div id="dash">
        <h2>Goto <a href="http://127.0.0.1/dashboard/">Dashboard</a> to Accept or Reject this mission.</h2>
    </div>
</body>
</html>